<!DOCTYPE HTML>
<!-- Gruppo 2 -->

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments :: head"></div>
	<title>Best of 2021</title>
</head>

<body>
	<nav th:replace="fragments :: nav"></nav>
	<div class="container-fluid text-center">
		<h1 th:replace="fragments :: title"></h1>
	<div class="row justify-content-center">
		<div class="col-9 col-sm-5">
			<img alt="2021" th:src="@{/img/2021.jpg}" class="img-fluid w-20">
			<p class="w-20">Lorem ipsum text
			</p>
		</div>
	</div>
	</div>
	<div th:replace="fragments :: scripts"></div>
</body>

</html>